@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #221f1f;
  --accent: #b81d24;
  --text: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --font-oswald: "Oswald", sans-serif;
  --font-lato: "Lato", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}
